* {
    font-family: sans-serif;
}

li,
ul,
a {
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

a, a:visited, a:hover, a:active {
    color: inherit;
}

h2 {
    margin-left:  10%;
    color: rgb(162, 210, 230);
}

body {
    background-color: rgb(197, 221, 243);
}

p {
    background-color: rgb(197, 221, 243);
}

.imgNavBar {
    width: 50px;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(199, 84, 174);
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    padding: 10px;
}

.menu {
    display: flex;
    align-items: center;
}

.menu li {
    margin-left: 5px;
    padding: 10px;
    color: aliceblue;
}

.menu li:hover {
    color: chartreuse;
}

.container {
    margin: auto;
    width: 60%;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
}

.tips {
    border-radius: 5px;
    padding: 40px;
}

.tips:hover {
    transition: 200ms;
    box-shadow: 3px 3px 3px rgb(87, 128, 129);
}

.tips img {
    width: 60%;
    border-radius: 7px;
    display:block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5px;
}

.tips h3 {
    text-align: center;
}

.tips a {
    color: rgb(62, 71, 196);
}

.tips a:hover {
    text-decoration: underline;
}


.tips p {
    text-align: center;
}

.psw a {
    color: rgb(62, 71, 196);
}

.psw a:hover {
    text-decoration: underline;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    transition: 200ms;
    box-shadow: 5px 5px 5px gray;
}

.forgot {
    margin-top: 10px;
    text-align: center;
}

.createAccount {
    display: block;
}

.createAccount a{
    color: rgb(62, 71, 196);
}

.createAccount a:hover{
    text-decoration: underline;
}